.profile{
	width: 60%;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
	margin: 0 auto 30px auto;
	overflow: hidden;
}
.description{
	padding: 25px;
	text-align: center;
}
.avatar{
	border-radius: 50%;
	width: 30%;
	margin: 0 auto 25px auto;
}
.name{
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
	
}
.tag, .name{
	margin-bottom: 10px;
}
.tag, .location{
	color: gray;
	font-weight: 500;
}
.stats{
	display: flex;
	list-style: none;
	background-color: rgba(185, 182, 182, 0.399);
	
}
.stats li{
	width: calc(100%/3);
	padding: 20px;
	border: 1px solid white;
	
}
.label,.quantity{
	display: block;
	text-align: center;
}
.label{
	color: gray;;
}
.quantity{
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	color: black;
}